* {
    box-sizing: border-box;
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 2s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

/* CSS HEADER */
header {
    display:flex;
    align-items: center;
}

.col10 {
    width: 5%;
}

.col20 {
    width: 20%;
}

.col30 {
    width: 95%;
    padding: 10px;
    font-family:serif;
    font-size: 100px;
    text-align:center;
    color:rgb(253, 44, 56)
}
.col40{
    text-align: center;
    color: red;
    margin-top:10px;
}

div.ctrl {
    text-align: right;
}

div.ads {
    display: flex;
    align-items: center;
    text-align: center;
}

div.ads > div {
    height: 100px;
    width: 33%;
    border: 1px dotted darkblue;
}

/* CSS NAV */
nav {
    background-color: aqua;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul.horizontal {
    display: flex;
}

ul.menu > li {
    min-width: 200px;
    text-align: center;
    border-right: 1px solid darkblue;
}

ul.menu > li > a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: darkblue;
    color: white;
}

/* CSS BODY */
section.content {
    display: flex;
    text-align: right;
}

div.left {
    width: 20%;
}

div.right {
    width: 80%;
}

ul.vertical > li {
    text-align: left;
}

ul.vertical > li > a {
    background-color: rgba(0, 255, 0, 0.3);
    color: black;
}

div.books {
    display: flex;
    flex-wrap: wrap;
}

div.book {
    width: 20%;
    text-align: center;
    padding: 1%;
    margin-bottom:75px;
}

figure {
    margin: 0;
}

figure > img {
    width: 100%;
}

.footer{
    text-align:center;
    padding: 3px;
    background-color: DarkSalmon;
    color: black;
    font-size:20px;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  margin:75px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}